<form action="/station/{{station.id}}/addreading" method="POST">
<div class="flex flex-wrap">
<div class="form-control flex-auto p-1">
    <input type="text" placeholder="Code" class="input" name="code">
  </div>
  <div class="form-control flex-auto p-1">
    <input type="text" placeholder="Temperature" class="input" name="temperature">
  </div>
  <div class="form-control flex-auto p-1">
    <input type="text" placeholder="Wind Speed" class="input" name="windSpeed">
  </div>
  <div class="form-control flex-auto p-1">
    <input type="text" placeholder="Pressure" class="input" name="pressure">
  </div>
  <div class="form-control flex-auto p-1">
  <button class="btn btn-primary submit">Submit</button>
  </div>
  </div>
</form>