<form action="/dashboard/addstation" method="POST">
<div class="flex flex-wrap">
<div class="form-control flex-auto p-1">
    <input type="text" placeholder="Name" class="input" name="name">
  </div>
  <div class="form-control flex-auto p-1">
    <input type="text" placeholder="Latitude" class="input" name="latitude">
  </div>
  <div class="form-control flex-auto p-1">
    <input type="text" placeholder="Longitude" class="input" name="longitude">
  </div>
  <div class="form-control flex-auto p-1">
  <button class="btn btn-primary submit">Submit</button>
  </div>
  </div>
</form>