<div class="navbar my-4 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-1 px-2 mx-2">
    <a id="home" class="btn btn-ghost rounded-btn" href='/'>WeatherTop</a>
  </div> 
  <div class="flex-none hidden px-2 mx-2 lg:flex">
    <div class="flex items-stretch">
      {{#if loggedInUser}}
      <a id="dashboard" class="btn btn-ghost rounded-btn" href="/dashboard">Dashboard</a> 
      {{/if}}
      <a id="about" class="btn btn-ghost rounded-btn" href="/about">About</a> 
      {{#unless loggedInUser}}
      <a id="register" class="btn btn-ghost rounded-btn" href="/register">Register</a> 
      <a id="login" class="btn btn-ghost rounded-btn" href="/login">Log In</a> 
      {{/unless}}
      {{#if loggedInUser}}
      <a id="account" class="btn btn-ghost rounded-btn" href="/account">My Account</a> 
      {{/if}}
      {{#if loggedInUser}}
      <a id="logout" class="btn btn-ghost rounded-btn" href="/logout">Log Out</a> 
      {{/if}}

    </div>
  </div> 
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">           
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>               
      </svg>
    </button>
  </div>
</div>

<script>
  $("#{{id}}").addClass("active item");
</script>