{{> menu id="home"}}

<div class="hero" style="background-image: url('https://images.unsplash.com/photo-1534794048419-48e110dca88e');">
  <div class="hero-overlay bg-opacity-60"></div> 
  <div class="text-center hero-content text-neutral-content my-10">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Welcome to WeatherTop
          </h1> 
      <p class="mb-5">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
          </p> 
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

