{{> menu id="home"}}

<div class="hero" style="background-image: url('https://images.unsplash.com/photo-1534794048419-48e110dca88e');">
  <div class="hero-overlay bg-opacity-60"></div> 
  <div class="text-center hero-content text-neutral-content my-10">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Welcome to WeatherTop
          </h1> 
      <p class="mb-5">
            The home of the WeatherTop 1000, an industry leading modular weather station.
          </p> 
      <a href="/dashboard"><button class="btn btn-primary">Go to Dashboard</button></a>
    </div>
  </div>
</div>

